<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Demo</title>
    <script src="user.prototype.js"></script>
    <script src="users-collection.prototype.js"></script>

    <link rel="stylesheet" href="style.css">
</head>

<body class='body-bg'>

     <!-- Empieza ahora la página LANDING -->

    <div class="landing pagelayout">
        <div class="landing__title title">
            <h1>WELCOME</h1>
        </div>
        <div class="landing__subtitle layout__subtitle">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis earum nostrum quis quae accusamus
                repellat velit ipsum sapiente corrupti natus aspernatur, deserunt eveniet. Eveniet, nesciunt deleniti
                assumenda sequi nobis neque?</p>
        </div>
        <div class="landing__buttons">
            <button class='button'>SIGN IN</button>
            <button class='button'>SIGN UP</button>
        </div>
    </div>

    <!-- Empieza ahora la página SIGN IN -->

    <div class="sign-in pagelayout container--hide">
        <div class="sign-in__title title">
            <h1>SIGN IN</h1>
        </div>
        <div class="sign-in__subtitle layout__subtitle">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis earum nostrum quis quae accusamus
            </p>
        </div>
        <form action="" class="sign-in__form">
            <div class="sign-in__inputs">
                <input type="email" class="input" name="email" placeholder="E-mail">
                <input type="password" class="input" name="password" placeholder="Password">
            </div>
            <div class="sign-in__buttons">
                <button type="submit" class='button'>SIGN IN</button>
                <p id="p-link">Go to <a class="link">Sign Up</a></p>
            </div>
        </form>
    </div>

    <!-- Empieza ahora la página SIGN UP -->

    <div class="sign-up pagelayout container--hide">
        <div class="sign-up__title title">
            <h1>SIGN UP</h1>
        </div>
        <div class="sign-up__subtitle layout__subtitle">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis earum nostrum quis quae accusamus
            </p>
        </div>
        <form action="" class="sign-up__form">
            <div class="sign-up__inputs">
                <input type="text" class="input" name="name" placeholder="Name">
                <input type="email" class="input" name="email" placeholder="Email">
                <input type="text" class="input" name="username" placeholder="Username">
                <input type="password" class="input" name="password" placeholder="Password">
            </div>
            <div class="sign-up__checkbox">
                <input type="checkbox" class="checkbox" name="checkbox" id="checkbox">
                <label for="checkbox" class="checkbox__label">I accept Whatever</label>
            </div>
            <div class="sign-up__buttons">
                <button type="submit" class='button'>SIGN UP</button>
                <p id="p-link">Go to <a class="link">Sign IN</a></p>
            </div>
        </form>
    </div>

    <!-- Empieza ahora la página THANK YOU -->

    <div class="thank-you pagelayout container--hide">
        <div class="thank-you__title title title--font-height">
            <h1>Gracias Por Registrarte</h1>
        </div>
        <div class="thank-you__subtitle layout__subtitle">
            <p>Ve a SIGN IN para acceder a la home con tus credenciales.
            </p>
        </div>
        <form action="" class="thank-you__form">

            <div class="thank-you__buttons">
                <button class='button'> GO SIGN IN</button>
            </div>
        </form>
    </div>

    <!-- Empieza ahora la página HOME -->

    <div class="home pagelayout container--hide">
        <div class="home__title title">
            <h1>RELAX</h1>
        </div>
        <div class="home__subtitle layout__subtitle">
            <p>YOU ARE AT HOME
            </p>
        </div>
        <form action="" class="home__form">

            <div class="home__buttons">
                <button class='button'>SIGN OUT</button>
            </div>
        </form>
    </div>

    <script src="main.js"></script>
</body>

</html>