<!-- Resgister de Anna para usar en ejercicio components -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Register</title>
</head>

<body class="register-img">
    <form class="form">
        <h1 class="formtitle">------- Register -------</h1>
        <p class="formsubtitle">Lorem ipsum dolor sit amet.</p>
        <div class="forminput-register">
            <input class="forminput" type="text" placeholder="First Name">
            <input class="forminput" type="text" placeholder="Last Name">
            <input class="forminput" type="email" placeholder="Email">
            <input class="forminput" type="password" placeholder="Password">
            <input class="forminput" type="password" placeholder="Confirm Password">
        </div>
        <div class="formterms">
            <input class="formcheckbox" type="checkbox">
            <label class="form__label" for="">I accept the
                <a class="link" href="#">Terms of Use</a> & 
                <a class="link" href="#">Privacy Policy</a>
            </label>
        </div>
        <button class="button">Register Now</button>
    </form>
</body>

</html>