<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <title>Home page</title>
</head>

<body>
    <div class="menu">
        <a href="home.html" class="menu__item">Home</a>
        <a href="/staff/sergio-ayala/web/cv/index.html" class="menu__item">About us</a>
        <a href="https://www.amazon.es/" class="menu__item">Products</a>
        <a href="http://www.just-fucking-google.it?s=css%20help" class="menu__item">Help</a>
        <a href="https://c.tenor.com/8PLapNWIMIQAAAAM/longday-long.gif"
                class="menu__item">contact</a>
        <a href="login.html" class="menu__item">logout</a>
    </div>

    <h1 class="title">Hello, World! This is my first web</h1>

    <section class="columns">

        <div class="columns__left">
            <div class="columns__left-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque totam, quod impedit animi maxime
                provident,
                rerum fugiat architecto quis doloribus quaerat necessitatibus numquam nobis autem ducimus esse quidem,
                nulla
                suscipit cumque repellendus eius! Ea beatae necessitatibus fugiat explicabo quisquam aperiam ducimus
                itaque
                consequatur. Et ex ducimus, molestias delectus debitis, at itaque numquam aperiam beatae tenetur optio
                magni
                praesentium quaerat facilis consequuntur dignissimos velit dolor temporibus quibusdam quae? Consequuntur
                id
                nostrum consectetur, rerum aut tenetur minima vitae obcaecati incidunt et cumque eos, accusantium
                quisquam
                ducimus officiis harum nihil velit impedit sint, suscipit officia distinctio tempore voluptate. Dolorem
                voluptas dolor accusantium dignissimos.
            </div>
            <div class="columns__left-video">
            <iframe width="400" height="250" src="https://www.youtube.com/embed/voRWdIXsxJg"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
        </div>
        <div class="r-column">
            <div class="r-column__sm">
                <strong> Donate me in paypal</strong>
                <br>
                <a href="https://www.newtral.es/donacidatas-la-palma-volcan"><button class="btn">PayPal</button></a>
            </div>
            <div class="r-column__sm">
                <strong>Subscribe to my Twitch</strong>
                <br>
                <a href="https://www.twitch.tv/ibai"><button class="btn">Join Now</button></a>
            </div>
            <div class="r-column__sm">
                <strong>Follow me on Instagram</strong>
                <br>
                <a href="https://www.instagram.com/ibaillanos"><button class="btn">Join Now</button></a>
            </div>
            <div class="r-column__sm">
                <strong>Follow me on Twiter</strong>
                <br>
                <a href="https://twitter.com/IbaiLlanos"><button class="btn">Join Now</button></a>
            </div>
            <div class="r-column__sm">
                <strong>Follow me on Youtube</strong>
                <br>
                <a href="https://www.youtube.com/channel/UCaY_-ksFSQtTGk0y1HA_3YQ/videos"><button class="btn">Join
                        Now</button></a>
            </div>
            <div class="r-column__sm">
                <strong>Follow me on pinterest</strong>
                <br>
                <a href="https://www.pinterest.es/pin/413064597056066283/"><button class="btn">GO Now</button></a>
            </div>
        </div>
    </section>
    <footer class="footer">
        <ul>
            <li><a href=""></a>Legal Advice</li>
            <li><a href=""></a>Site Map</li>
            <li><a href=""></a>Work with us</li>
            <li><a href=""></a>Contact</li>
        </ul>
    </footer>

</body>

</html>