<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="menu">
        <a href="home.html" class="links--menu">Home</a>
        <a href="/staff/sergio-ayala/web/cv/index.html" class="links--menu">About us</a>
        <a href="https://www.amazon.es/" class="links--menu">Products</a>
        <a href="http://www.just-fucking-google.it?s=css%20help" class="links--menu">Help</a>
        <a href="https://c.tenor.com/8PLapNWIMIQAAAAM/longday-long.gif" class="links--menu">contact</a>
        <a href="login.html" class="links--menu">logout</a>
    </nav>

    
    
</body>
</html>