<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <title>Register page</title>
</head>

<body class="body-flex">
    <div class="area-panel">
        <form class="panel register" action="login.html">
            <h1 class="panel__title">Register</h1>
            <strong><label class="panel__info" for="name">Name</label></strong><br>
            <input class="panel__field" type="text"
                name="name" id="name" placeholder="Name"> <br>
            <strong><label class="panel__info" for="birthdate">Birth</label></strong><br>
            <input class="panel__field"
                type="date" name="birth" id="birthdate"> <br>
            <strong> <label class="panel__info" for="username">Username</label></strong><br>
            <input class="panel__field"
                type="text" name="username" id="username" placeholder="Username"> <br>
            <strong> <label class="panel__info" for="pasword">Password</label></strong><br>
            <input class="panel__field"
                type="password" name="password" id="password" placeholder="Password"><br>
            <button class="btn" type="submit">Register</button>
            <button class="btn" type="reset">Clear</button>
        </form>
        <br>
        <a class="links links--centered" href="login.html">I have an account</a>
    </div>
</body>