@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
* {
    box-sizing: content-box;
    border: 1px dashed black;
}

html, body {
    height: 100%;
    padding: o;
    border: 0;
    margin: o;
}
/* reusable */

.body-flex {
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn {
    border-radius: 10px;
    background-color: lightgreen;
    border-color: green;
    border-width: 3px;
    margin: 10px 0px 0px 0px;
}

.panel {
    margin: 2px;
    border: black;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    align-content: center;
    font-family: roboto condensed;
    background-color: lightgray;
}
.panel__title {
    text-align: center;
}


.panel__field {
    border-radius: 15px;
    border-style: solid;
    border-color: darkgray;
    margin: 2.5px 0px 2.5px 10px;
}

.area-panel {
    border-radius: 10px;
    display: block;
    background-color: lightpink;
    padding: 10px 10px 40px 10px;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    box-shadow: 20px 20px 30px grey;
}

.title {
    font-family: birthstone;
    text-align: center;
}
.text {
        
    display: inline-block;
}
.menu__button {
    background-color: black;
    border-color: white;
    color: white;
    margin: 0px 10px 0px 10px;
}
.menu {
    background-color: lightskyblue;
    padding: 10px;
    text-align: center;
    margin: 0px;
}
.columns {
    display: flex;
}
.columns__left {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    font-family: roboto condensed;
    margin: 0px 10px 0px 10px;
}
.r-column {
    text-align: center;
    background-color: grey;
    width: fit-content;
    padding: 10px;
    height: fit-content;
    margin: 0px 10px 0px 10px;
    border-radius: 5px; 
    flex-basis: 30%;
}
.r-column__sm{
    margin: 10px 5px 10px 5px;
    padding: 10px;
    background-color: aqua;
    border-radius: 10px;
}

.footer{
background-color: lightgray;

}

/* custom */

.register {
    font-family: oswald;
    background-color: orange;
    border-color: red;
}
.login {
    background-color: red;
    border-color: orange;
}
.links {
    padding-top: 20px;
    text-decoration: none;
}
.area-panel__register {
    background-color: lightblue;
}
.columns__left-video {
    margin: 20px 0px 0px 0px ;
    padding: 0px 0px 0px 0px ;
    align-self: center;
    flex-basis: 70%;
}

.columns__left-text {
    flex-basis: 30%;
}